body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #4070f4;
    font-family: Arial, sans-serif;
}
h1{
    color: #fff;
    font-weight: 800;
}
form{
    padding-top: 20px;
    font-weight: 600;
    color: rgba(43, 41, 41, 0.879);
    border-radius: 10px;
    
    width: 440px;
    margin-top: 15px;
background-color:#ffffffa2
   
}
span{
    color: red;
}

fieldset{
    border-radius: 10px;

 }
 div{
    margin: 20px;
 }
 
 
 input[type="text"],[type="email"],[type="tel"],[type="password"],[type="number"],  textarea {
    margin-top:10px ;
    border: 1px solid #CCCCCC;
    font: 1em sans-serif;
    width: 100%;
    box-sizing: border-box;
    padding: .5em;
}
   /* label{
        margin-bottom: 19px;
    } */
 
 button{
   margin-top: 20px; 
   margin-bottom: 20px;
 width: 250px;
 height: 40px;
 color: #ffffff;
 font-weight: 700;
 font-size: 18px;
    background-color: #4070f4;
 }